@{
    ViewBag.Title = "Productos";
}

<br>
<br>
<br>
<div class="catalogo">
    <div class="producto">
        <img src="@Url.Content("~/Content/img/margarita.png")" alt="Pizza 1" style="width: 220px; height: 280px;">
        <h3>Pizza Margarita</h3>
        <p>$12.990</p>
        <button class="add-to-cart" data-id="1" data-name="Pizza Margarita" data-price="12.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/peperoni.png")" alt="Pizza 2" style="width: 220px; height: 280px;">
        <h3>Pizza Pepperoni</h3>
        <p>$14.990</p>
        <button class="add-to-cart" data-id="2" data-name="Pizza Pepperoni" data-price="14.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/hawa.png")" alt="Pizza 3" style="width: 220px; height: 280px;">
        <h3>Pizza Hawaiana</h3>
        <p>$13.990</p>
        <button class="add-to-cart" data-id="3" data-name="Pizza Hawaiana" data-price="13.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/vege.png")" alt="Pizza 4" style="width: 220px; height: 280px;">
        <h3>Pizza Vegetariana</h3>
        <p>$11.990</p>
        <button class="add-to-cart" data-id="4" data-name="Pizza Vegetariana" data-price="11.990">
            Agregar al
            carrito
        </button>
    </div>
</div>
<br>
<br>
<br>
<div class="catalogo">
    <div class="producto">
        <img src="@Url.Content("~/Content/img/4.png")" alt="Pizza 5" style="width: 220px; height: 280px;">
        <h3>Pizza Cuatro Quesos</h3>
        <p>$15.990</p>
        <button class="add-to-cart" data-id="5" data-name="Pizza Cuatro Quesos" data-price="15.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/bbq.png")" alt="Pizza 6" style="width: 220px; height: 280px;">
        <h3>Pizza BBQ Chicken</h3>
        <p>$16.990</p>
        <button class="add-to-cart" data-id="6" data-name="Pizza BBQ Chicken" data-price="16.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/mex.png")" alt="Pizza 7" style="width: 220px; height: 280px;">
        <h3>Pizza Mexicana</h3>
        <p>$14.990</p>
        <button class="add-to-cart" data-id="7" data-name="Pizza Mexicana" data-price="14.990">
            Agregar al
            carrito
        </button>
    </div>
    <div class="producto">
        <img src="@Url.Content("~/Content/img/mari.png")" alt="Pizza 8" style="width: 220px; height: 280px;">
        <h3>Pizza Marinera</h3>
        <p>$17.990</p>
        <button class="add-to-cart" data-id="8" data-name="Pizza Marinera" data-price="17.990">
            Agregar al
            carrito
        </button>
    </div>
</div>
<br>
<br>
<br>
